<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NetEntityFramework2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP.NetEntityFramework2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="container navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black box-shadow">
            <div class="container">

                <a class="navbar-brand text-white" asp-area="" asp-page="/Index"> 
                    <img src="/Images/logo.png" width = "50" class="d-inline-block align-top" alt="logo"><span class="logoText">tsks</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Features</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/About">About</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Contact">Contact us</a>
                        </li>
                    </ul>

                     <div style="text-align: right">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Signup">Sign up</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container mainFooter">
            <div class="row">
                <div class="col">
                    <div class="footerLogoDiv">
                         <img src="/Images/logo.png" width = "50" class="d-inline-block align-top logoFooter" alt="logo">
                         <div class="logoTextFooter">tsks</div>
                    </div>
                    
                </div>
                <div class="col">
                     <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Features</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/About">About</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Contact">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                     <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Signup">Sign up</a>
                        </li>
                        </ul>
                </div>
            </div>
            <div class="row privacyDiv">
                <div clss="col">
                 &copy; 2022 - tsks. - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </div>
           
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>