@page
@model TodoWebAppAsp.Net.Pages.HomeTodo.EditHomeTodoModel
@{
    Layout = "~/Pages/Shared/_Dashboard.cshtml";
}

<form method="POST">

    <div class="form-group">
    <label for="hid" class="text-white">Id</label>
    <input type="text" class="form-control" id="hid" placeholder="" name="_Id" value="@Model.homeTodoProperty.Id" readonly>
  </div>

  <div class="form-group">
    <label for="title" class="text-white">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title" name="_Title" value="@Model.homeTodoProperty.Title">
  </div>

<div class="form-group">
    <label for="desc" class="text-white">Description</label>
    <input type="text" class="form-control" id="desc" name="_Description" value="@Model.homeTodoProperty.Description">
  </div> 

  <br />
  <input type="Submit" value = "Save" class="btn btn-primary"/>
</form>
