@page

@model TodoWebAppAsp.Net.Pages.SchoolTodo.AddSchoolTodoModel
@{
    Layout = "~/Pages/Shared/_Dashboard.cshtml";
}

<form method="POST">

  <div class="form-group">
    <label for="title" class="text-white">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title" name="Title">
  </div>

<div class="form-group">
    <label for="desc" class="text-white">Description</label>
    <input type="text" class="form-control" id="desc" name="Description">
  </div> 

  <div class="form-group">
    <label for="uemail" class="text-white">UserEmail</label>
    <input type="text" class="form-control" id="uemail" name= "UserEmail" value="@Model.email" readonly>
  </div> 
  <br />
  <input type="Submit" value = "Add" class="btn btn-primary"/>
</form>
