@page 
@model TodoWebAppAsp.Net.Pages.SchoolTodo.IndexModel
@{
    Layout = "~/Pages/Shared/_Dashboard.cshtml";
}

<style>
    .cardRow{
        display: flex;
        justify-content: space-around;
    }
    .card{
             transition: transform .5s ease-in-out;
             margin: 15px 0px;
             box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .card:hover{
        transform: scale(1.1);
    }

</style>


<head>

</head>
<body>
        <div class="row">
    <div class="col col-md-6">
        <h4 style="color: white">Add New Todo</h4>
    </div>
    <div class="col col-md-6" style="text-align:right">
        <a class="btn btn-primary text-white" href="/schooltodo/addschooltodo?Email=@Model.email">Add</a>
    </div>
</div>
    @if(Model.schoolTodos.Count() == 0)
    {
        <p class="text-danger">No item in the school section.</p>
    }

    else
    {
        <div class="row cardRow">
        @foreach(var item in Model.schoolTodos)
        {
           
        <div class="card bg-black text-white" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@item.Title</h5>
    <p class="card-text">@item.Description</p>
   <a class="btn btn-danger" href="/schooltodo/deleteschooltodo?id=@item.Id">Delete</a>
   <a class="btn btn-primary" href="/schooltodo/editschooltodo?id=@item.Id">Edit</a>
  </div>
</div>

        }
       
</div>
    }
    
   
</body>
